<% page_title I18n.t("logged_exceptions.index.title") %>
<div id="right">
</div> <!-- right -->
<div id="left">
  <div class="page" id="showpage">
    <%= render :partial => "show" %>
  </div>
</div>
